.wrapper {
  all: initial;

  cursor: inherit;

  display: flex;

  /* !important is for course pages summary */
  flex: 1 !important;
  justify-content: end;

  font: inherit;
  font-size: 1.3rem;
  line-height: initial;
  color: #828282;
  white-space: nowrap;
}

.container {
  height: 16px;
}

.groups {
  all: initial;

  pointer-events: none;

  position: absolute;
  z-index: 2147483647;

  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px 6px;
  align-items: baseline;

  padding: 8px 10px;

  font: inherit;
  font-size: 1.2rem;
  color: #222;
  white-space: nowrap;

  background-color: #fff;
  box-shadow: #0000001a 0 0.2rem 0.2rem 0.1rem;
}

.placeholder {
  width: 90px;
  height: 16px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.faint {
  color: #b3b3b3;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 20px;
  padding: 16px;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: #0000001a 0 1px 1px, #0003 0 0 2px;
}

.heading {
  font-size: 1.4rem;
  font-weight: 400;
  color: #828282;
}

.button {
  cursor: pointer;

  padding: 8px 16px;

  color: #222;

  background-color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 8px;

  &:disabled {
    cursor: default;
    color: #b3b3b3;
    border-color: #c8c8c8;
  }

  &:hover:not(:disabled) {
    background-color: #ebf1fa;
  }
}

.warning {
  margin-top: 8px;
  font-size: 1.2rem;
  color: #828282;
}
